.speech {
    font-family: LADY WINDERMERE, MRS ERLYNNE;
    font-size: 15px;
    color: rgb(160, 60, 60);
}

.stage_directions{
    font-family: LADY WINDERMERE, MRS ERLYNNE;
    font-size: 20px;
    background-color:rgb(183, 240, 160);
    color: rgb(45, 26, 131);
}

.name{
    font-family: LADY WINDERMERE, MRS ERLYNNE;
    font-size: 25px;
    color: rgb(19, 172, 147);
}
 p:hover{
    background-color: lightcoral;
    color: rgb(187, 33, 128);
}

.LADY WINDERMERE{
    color: rgb(105, 21, 194);
}   

.MRS ERLYNNE{
    color:rgb(142, 153, 90);
}
#tableStyle{
    border-style: dashed;
    border-color:rgb(196, 178, 21);
    text-align: center;
    margin: 25px 0px 0px 350px;
}

tr:nth-child(even) {background-color: rgb(116, 94, 78);}

 .columnNrow{
    border-style: double;
    border-color: rgb(73, 41, 41);
    padding: 15px;
}

h6:hover{
    
    text-shadow: 2px 2px rgb(163, 72, 163);
    border-style: groove;
    border-color: rgb(19, 137, 235);

}
ul.navbar-horizontal
 {
     /* remove these */list-style-type: none;margin: 0;padding: 0;
}
ul.navbar-horizontal li
 {
     float:left; /* line up horizontally */color:#000;background-color:purple
    }
    ul.navbar-horizontal a 
    {
        display:block;padding:8px/* on hover change the link color*/ul.navbar-horizontal a:hover
         {
               background-color: #555;color:red;
             }
